<%
  # try to strip the city name from the start or end of a meetup/group name
  def clean_name(name)
    name.gsub(/(?:the\s+)?+#{OPTIONS[:city]}\s?+/i, '').strip
  end
%>

<style>
  body {
    font-family: 'Open Sans';
  }

  section {
    margin-bottom: 50px;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  ul ul {
    padding-left: 70px;
  }

  li {
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  li:last-child, li li {
    border-bottom: 0;
    padding-bottom: 0;
  }

  li li:last-child {
    margin-bottom: 0;
  }

  a {
    color: blue;
    text-decoration: none;
  }

  .time {
    float: left;
  }

  div {
    color: #666;
    display: block;
    font-size: 80%;
    font-weight: 300;
  }

  .attendees {
    font-weight: bold;
  }
</style>

<p>
  <img src="https://mail.google.com/mail/e/4B0"> - Hosted at ThoughtWorks,
  <img src="https://mail.google.com/mail/e/B68"> - ThoughtWorkers in attendance
</p>

<% meetups.group_by { |m| m.time.strftime('%Y-%m-%d') }.each do |date,day_meetups| %>
  <section>
    <h2><%= Time.parse(date).strftime('%A') %></h2>
    
    <ul>
      <% day_meetups.group_by { |m| m.time.strftime('%l.%M%P').strip }.each do |time,meetups| %>
        <li>
          <span class="time"><%= time %></span>
          <ul>
            <% meetups.each do |meetup| %>
              <li>
                <a href="<%= meetup.url %>"><%= meetup.name %></a>
                <% if meetup.notable_attendees.count > 0 %>
                  <img src="https://mail.google.com/mail/e/B68">
                <% end %>
                <% if meetup.venue && meetup.venue.name =~ /thoughtworks/i %>
                  <img src="https://mail.google.com/mail/e/4B0">
                <% end %>
                <div>
                  <span class="group"><%= clean_name meetup.group %></span>
                  <% if meetup.notable_attendees.count > 0 %>
                    | <span class="attendees">Fancy joining <%= meetup.notable_attendees[0].name %>
                    <% if meetup.notable_attendees.count > 1 %>
                      and <%= meetup.notable_attendees[1].name %>
                      <% if meetup.notable_attendees.count > 2 %>
                        (and <%= meetup.notable_attendees.count - 2 %> others)
                      <% end %>
                    <% end %>?</span>
                  <% end %>
                </div>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </section>
<% end %>
